<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{!-- **************** --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- *****ADDING RIGHT CLICK CONTEXT******* -->
  <script src="javascript/rightclick/jquery.js"></script>
  <link rel="stylesheet" href="css/contextmenu/contextMenu.css">
  <script src="javascript/rightclick/jquery.contextMenu.js"></script>
  <script src="javascript/rightclick/jquery.ui.position.js"></script>
  <!-- ******************** -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  {{!-- ********************** --}}
  {{!-- <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'> --}}
  <link rel="stylesheet" href="css/jquery.toast.css">
  <script>
    $(function () {
      $("#tbody_1").sortable();
      $("#tbody_1").disableSelection();
    });
  </script>
  <style>
    :root {
  --pixel_variable: 81px ;
}
#tbody_1{
  font-size: 12px;
      padding: 6px;
}
    {{!-- .legend {
      z-index: 1;
    } --}}
    #mySidenav
    {
          top: 105px;
    position: sticky;
    left: 0px;
    z-index: 2;
    }
    #mySidenav a {
      position: absolute;
      left: -102px;
      transition: 0.3s;
      padding: 10px;
      width: 108px;
      text-decoration: none;
      font-size: 10px;
      color: white;
      border-radius: 0 5px 5px 0;
    }
    #mySidenav a:hover {
      left: 0;
    }
    .outerDIV {
      display: flex;
    }
    .commentIMG {
      background-image: url(http://localhost:3000/img/multi.png);
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: right top;
    }
   
    .table-header-rotated th.rotate {
      height: 79px;
      width: 40px;
      min-width: 33px;
      max-width: 40px;
      position: relative;
      vertical-align: bottom;
      padding: 0;
      font-size: 12px;
      line-height: 0.8;
    }
    
    .table-header-rotated th.rotate>div {

      background: white;
      color: black;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.82);
      height: 100%;
      -ms-transform: skew(-45deg, 0deg);
      -moz-transform: skew(-45deg, 0deg);
      -webkit-transform: skew(-45deg, 0deg);
      -o-transform: skew(-45deg, 0deg);
      transform: skew(0deg, 0deg);
      overflow: hidden;
      border-left: 1px solid #E1F1FF;
      border-right: 1px solid #E1F1FF;
      border-top: 1px solid #E1F1FF;
    }
    .table-header-rotated th.rotate span {
      -ms-transform:skew(14deg, -11deg) rotate(284deg);
      -moz-transform:skew(14deg, -11deg) rotate(284deg);
      -webkit-transform: skew(14deg, -11deg) rotate(284deg);
      -o-transform: skew(14deg, -11deg) rotate(284deg);
      transform: skew(14deg, -11deg) rotate(284deg);
      position: absolute;
    bottom: 42px;
      left: -25px;
      display: inline-block;
   font-weight: normal !important;
      width: 100%;
      width: 85px;
      text-align: left;
      //: ;
      white-space: nowrap;
    }
     
    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
    }
    .div1 {
      height: 100%;
      width: 100%;
      position: relative;
      background: black;
    }
    .textarea1 {
      background: aqua;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .div2 {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 5px;
      right: 0;
      height: 5px;
      background: red;
    }
    .commentdiv {
      position: fixed;
      width: fit-content;
      height: fit-content;
      background-color: white;
      /*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
      box-shadow: 0 2px 6px 2px rgba(60, 64, 67, .15);
      border: 1px solid rgba(60, 64, 67, .15);
      border-radius: 10px;
      font-family: var(--docs-material-font-family, Arial, sans-serif, sans);
      padding: 10px;
      display: none;
    }
    .c_img {
      border-radius: 100px;
      height: 43px;
      width: 43px;
    }
    .c_div1 {
      display: flex;
      margin-bottom: 10px;
      font-size: 15px;
    }
    .c_textarea {
      width: -webkit-fill-available;
      border-radius: 6px;
      resize: none;
    }
    .custom-cm {
      background-color: #ffffff;
      border: 1px solid #cccccc;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      display: none;
      padding: 10px 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
    }
    .custom-cm__item {
      cursor: pointer;
      padding: 8px 15px;
    }
    .custom-cm__item:hover {
      background-color: #f8f8f8;
    }
    .custom-cm__divider {
      border-bottom: 1px solid #eeeeee;
      margin: 10px 0;
    }
    /* toggle css  */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    .switch input {
      display: none;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked+.slider {
      background-color: #8bc34a;
    }
    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    /* toggle css ends  */
    .table-wrapper {
      overflow-x: scroll;
    }
tbody>tr>td.sat, tbody>tr>td.sun {
    background-color: #bfbfbf !important;
}
      {
        {
         !-- .eName,
        .pool {
          background-color: #dbd951;
        }
        --
      }
    }
    .eName {
      white-space: nowrap;
    }
    .click_select {
      border: 2px solid #5292f7 !important;
    }
    .poolSelect {
      border: 2px solid rgba(230, 177, 116, 0.3);
      background-color: rgba(230, 177, 116, 0.3);
    }
    .umeric:hover {
      cursor: pointer;
      border: 2px solid #5292f7;
      background: lightgray;
      box-shadow: inset -1px 0 0 #bababa;
    }
    .table td {
      vertical-align: middle !important;
    }
    .hoverWrapper:hover #hoverShow1 {
      display: block;
    }
    .hoverWrapper #hoverShow1 {
      display: none;
      position: absolute;
      background-color: #ff0000;
      width: 250px;
      height: 250px;
      left: 200px;
      top: 100px;
    }
    .divclass {
      position: absolute;
      background: aqua;
      display: none;
    }
    .divparent:hover .divclass {
      display: block;
    }
    .divparent {
      z-index: 1;
    }
    .nav-bar {
      background-color: white;
      height: 45px;
      width: 100%;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 2);
    }
    .nav-heading {
      color: white;
      padding-top: 10px;
      margin-left: 10px;
    }
    .main-block {
      display: flex;
    }
    .form-inline label {
      display: inline;
    }
    .applyLeave {
      box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.5)
    }
    .content
    {
      background-color: #1b921bb0;
      text-indent: -9999px ;  
    }

thead > tr > th 
{
background: black !important;
color: white;
font-size: 15px;

    position: sticky !important;
    top: 0 !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.82) !important;
}
thead > tr > th.jan,th.mar,th.may,th.jul,th.sep,th.nov
{
/*background-color: #53A1FD !important; */
 {{!-- color : #7C90A9 !important; --}}
}


.pool,.content,.teamNameBox{
text-transform:uppercase
}


    body
      {
{{!-- background: #da3832; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#da3832 50% , white 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #da3832 50%, white 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #da3832 50%, white 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #da3832 50% , white 50%); /* Standard syntax */ --}}
    background: -webkit-linear-gradient( white 50% , #da3832 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( white 50%, #da3832 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( white 50%, #da3832 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient( white 50% , #da3832 50%); /* Standard syntax */
      
    }
      {{!-- #div-1
      {
        background-color: white;
        border-radius: 1%;
        height: 576px;
         overflow: hidden;
         box-shadow: 0px 0px 11px 1px rgba(0, 6, 19, 0.5);
      } --}}
   
  #div-1 {
      background-color: white;
        border-radius: 1%;
        height: 576px;
        margin: 30px;
        /*overflow: hidden; */
         outline: none;
-webkit-box-shadow: 0px 0px 51px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 51px -6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 51px -6px rgba(0,0,0,0.75);

}


{{!-- google sheet example  --}}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
 ::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    background-color: #dadce0;
    border-radius: 8px;
    box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}
 ::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0 4px;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
{{!--*****************************  --}}
.table>tbody>tr>td  {

    padding-right: 1px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    
}

{{!-- ****************************** --}}
 .ul {
    list-style: none;
}
.li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
.underline:hover, .underline:focus, .underline:active {
    color: #999;
    text-decoration: none;
}
.underline {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
.underline {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 200;
    text-transform: lowercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
.underline::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.underline:active::before {
    background-color: white;
}
.underline:hover::before, .underline:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

tbody>tr>td.fixed{
  position: sticky;
  background-color: white;
}

thead>tr>th.fixed{
z-index: 1;
}
{{!-- ******************************************* --}}

.content[data-color="UL"],.UN-L {
 background-color: #ff0000 !important;
}
.content[data-color="PL"],.PL {
 background-color: #6BBBE8 !important;
}
.content[data-color="FL"], .FL {
 background-color: darkorange !important;
}
.content[data-color="NOT-D"] , .ALT{
 background-color: #a9d18d !important;
}
.content[data-color="NOT-A"] ,.NA {
 background-color: #c00000 !important;
}



{{!-- ****************************** --}}


thead>tr>th>div{
   {{!-- background-color: #da3832;
  color: white; --}}
}


#main_tab 
{
      white-space: nowrap;
      
} 

#main_tab > tbody > tr > td  ,#main_tab > thead> tr > td
{
      padding: 7px;
      
} 
#model-body-id
{
overflow: scroll;
}



table#main_tab > thead >tr > td:nth-child(1)
{
  background-color: black;
  color: white;
   position: sticky;
   left: 0px;
   z-index: 1;
}

#main_tab tr:hover {
     background-color: #ddd; 
}
table#main_tab > tbody >tr > td:nth-child(1)
{
  position: sticky;
  left: 0px;
  z-index: 1;
   background-color: white;
}

  </style>
  <!-- <link href="table.css" rel="stylesheet"> -->
</head>
<body class="" style="background-color: #e9ecef;">
  {{!-- ************Nav bar*************** --}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bar" style="background-color: black !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.bitwiseglobal.com/bwin-prod-cdn/themes/bwindia/images/logo-white.png" width="100" height="30" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
      <ul class="navbar-nav ul">
        <li class="nav-item li"> <!-- Button trigger modal -->
        <a class="nav-link underline" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;">AddRow</a>
        </li>
         <li class="nav-item li">
           <a class="nav-link underline" href="javascript:Delete();">DeleteRow</a>
        </li>
         <li class="nav-item li">
            <a class="nav-link underline" href="javascript:exportToExcel('tab1', 'user-data');">ExportToExcel</a>
        </li>
        <li class="nav-item li">
          <a class="nav-link underline" href="javascript:genrateReport()">Report</a>
        </li>
        
      <li class="nav-item" style="display: none;">
          <input type="checkbox"  class="freezCheck" id="freezCheck"/>
        </li>
       
       
        
 


      </ul>
    </div>


    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
      <label class="switch  my-2 my-sm-0">
        <input type="checkbox" id="toggle_bt" onclick="myToggle()" class="default">
        <span class="slider round"></span>
      </label>
    </div>
  </nav>
  {{!-- Nav bar ended --}}
  {{!-- *************BITWISE COPY******************* --}}
  {{!-- ********************************************* --}}
 <div id="mySidenav" class="sidenav" >
    <a id="PL_C" class="legend PL" >Planned Leave"</a>
    <a id="UL_C" class="legend UN-L" style="top: 40px;">Un-Planned Leave"</a>
    <a id="FL_C" class="legend FL" style="top: 80px;">Floating Leave"</a>
    <a id="REJ_C" class="legend NA" style="top: 120px;">"Reject"</a>
    <a id="ALT_C" class="legend ALT" style="top: 160px;">"Alternate"</a>
  </div>
 
  {{!-- color coding ended --}}
  <div class="table-wrapper my-3" tabindex="0" id="div-1">
     {{!-- ************************* --}}
  


  {{!-- ************************* --}}
    <table style="margin-bottom: 0px;" class="table  table-sm  main_table table-header-rotated table-hover" id="tab1">
      <thead class="table_head" id="thead1"></thead>
      <tbody id="tbody_1" class="table-bordered"></tbody>
    </table>
    <div class="commentdiv" id="cmtID">
      <div class="c_div1"> <img class="c_img" src="./img/img_avatar.png" alt="Avatar">
        <div style="margin: auto; margin-left: 5px;">
          <div style="    display: grid"><span id="c_name"></span> <span id="c_date"></span></div>
        </div>
      </div>
      <textarea id="lastname" class="c_textarea" autocomplete="input-area" x-webkit-speech="" speech="" role="combobox"
        aria-autocomplete="list" aria-label="Comment draft" dir="ltr" style="height: 76px;"></textarea>
      <div style="margin-top: 10px ;">
        <input type="submit" value="Comment" onclick="formdata()" />
        <input type="button" value="Cancle" onclick="cancelComment()" />
      </div>
    </div>
  </div>
  {{!-- <div id="hoverShow1" style="width: 25%;" class="my-3 divparent" tabindex="0" id="FL_main_table_div">
    <div class="divclass">
      <button onclick="addFl()">add</button>
      <button onclick="deleteFl()">remove</button>
      <table style="margin-bottom: 0px;width: fit-content" class="table table-sm table-bordered legend_table "
        id="FL_legend_tab1">
        <thead class="table_head" id="legend_thead1">
          <tr id="FL_ROW">
            <td>&nbsp;</td>
            <td>FLOATING_DATE</td>
            <td>FLOATING</td>
          </tr>
        </thead>
        <tbody id="FL_TBODY"></tbody>
      </table>
    </div>
  </div> --}}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Row</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="container-fluid my-2">
    <div class="row my-2">
         <label for="addEmpTeam" class="col mx-2">Team Name</label>
      <input class="col mx-5 form-control teamNameBox" placeholder="Add Team name" maxlength="10" type="text" id="addEmpTeam">
   
      </div>
      <div class="w-10"></div>
      <div class="row my-2">
      <label for="addEmpID" class="col mx-2">Employee Id</label>
      <input class="col form-control mx-5" placeholder="Add Employee Id" maxlength="40" type="text" id="addEmpID">
    
    </div>
    <div class="w-10"></div>
    <div class="row my-2">
      <label for="addEmp" class="col mx-2">Employee Name</label>
      <input class="col form-control mx-5" placeholder="Add Employee Name" maxlength="40" type="text" id="addEmp">
    
    </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" >Close</button>
        <button type="button" onclick="addEmployee()"  data-dismiss="modal" class="btn btn-primary">AddRow</button>
      </div>
    </div>
  </div>
</div>
  
<!-- ****************************************Modal********************** -->

  {{!-- *****************MODAL END****************** --}}
  
  

  
  {{!-- **************************** --}}
    <div id="classModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
        </div>
        <div class="modal-body" id="model-body-id">
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  
  {{!-- ***************************** --}}

    







  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
  {{!-- <script type="module" src="./javascript/temp_test.js"></script> --}}
  <script type="text/javascript" src="./javascript/jquery.toast.js">  </script>
  <script>
    //$('#myModal').modal(options)
  // $(".fixed").css("background-color"));
   // $("#dialog").dialog()
     $( "#dialog" ).dialog();

    {{!-- $("#startdatepicker").datepicker();
    $("#enddatepicker").datepicker(); --}}


     
     

  </script>
  <script type="text/javascript" src="./javascript/table_script.js">  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#icon-type').on('change', function () {
        if (!$(this).val()) {
          $('.custom-color-info').show();
          $('.toast-icon-line').hide();
          $('.toast-bgColor-line').show();
          $('.toast-textColor-line').show();
        } else {
          $('.toast-icon-line').show();
          $('.custom-color-info').hide();
          $('.toast-bgColor-line').hide();
          $('.toast-textColor-line').hide();
          $('.toast-icon-line span.toast-icon').text($(this).val());
        }
      });
      // You are about to see some extremely horrible code that can be MUCH MUCH improved,
      // I've knowlingly done it that way, please don't judge me based upon this ;)
      $(document).ready(function () {
        function generateCode() {
          var text = $('.plugin-options #toast-text').val();
          var heading = $('.plugin-options #toast-heading').val();
          var transition = $('.toast-transition').val();
          var allowToastClose = $('#allow-toast-close').val();
          var autoHide = $('#auto-hide-toast').val();
          var stackToasts = $('#stack-toasts').val();
          var toastPosition = $('#toast-position').val()
          var toastBg = $('#toast-bg').val();
          var toastTextColor = $('#toast-text-color').val();
          var toastIcon = $('#icon-type').val();
          var textAlign = $('#text-align').val();
          var toastEvents = $('#add-toast-events').val();
          var loader = $('#show-loader').val();
          var loaderBg = $('#loader-bg').val();
          if (text) {
            $('.toast-text-line').show();
            $('.toast-text-line .toast-text').text(text);
          } else {
            $('.toast-text-line').hide()
            $('.toast-text-line .toast-text').text('');
          };
          if (heading) {
            $('.toast-heading-line').show();
            $('.toast-heading-line .toast-heading').text(heading);
          } else {
            $('.toast-heading-line').hide()
            $('.toast-heading-line .toast-heading').text('');
          };
          if (transition) {
            $('.toast-transition-line').show()
            $('.toast-transition-line .toast-transition').text(transition);
          } else {
            $('.toast-transition-line').hide();
            $('.toast-transition-line .toast-transition').text('fade');
          }
          if (allowToastClose) {
            $('.toast-allowToastClose-line').show();
            $('.toast-allowToastClose-line .toast-allowToastClose').text(allowToastClose);
          } else {
            $('.toast-allowToastClose-line').hide();
            $('.toast-allowToastClose-line .toast-allowToastClose').text(false);
          }
          if (autoHide && (autoHide == 'false')) {
            $('.toast-hideAfter-line').show();
            $('.toast-hideAfter-line .toast-hideAfter').text('false');
            $('.autohide-after').hide();
          } else {
            $('.toast-hideAfter-line').show();
            $('.toast-hideAfter-line .toast-hideAfter').text($('#autohide-after').val() ? $('#autohide-after').val() : 3000);
            $('.autohide-after').show();
          }
          if (stackToasts && stackToasts != 'true') {
            $('.toast-stackLength-line').show();
            $('.toast-stackLength-line .toast-stackLength').text(stackToasts);
            $('.stack-length').hide();
          } else {
            $('.stack-length').show();
            $('.toast-stackLength-line').show();
            $('.toast-stackLength-line .toast-stackLength').text($('#stack-length').val() ? $('#stack-length').val() : 5);
          }
          if (toastPosition && (toastPosition !== 'custom-position')) {
            $('.toast-position-string-line').show();
            $('.custom-toast-position').hide();
            $('.toast-position-string-line .toast-position').text(toastPosition);
          } else {
            $('.toast-position-string-line').hide();
            $('.toast-position-string-line .toast-position').text('');
          }
          if (toastPosition && (toastPosition === 'custom-position')) {
            $('.custom-toast-position').show();
            $('.toast-position-string-obj').show();
            var left = $('#left-position').val() ? $('#left-position').val() : 'auto';
            var right = $('#right-position').val() ? $('#right-position').val() : 'auto';
            var top = $('#top-position').val() ? $('#top-position').val() : 'auto';
            var bottom = $('#bottom-position').val() ? $('#bottom-position').val() : 'auto';
            $('.toast-position-string-obj .toast-position-left').text((left !== 'auto') ? left : "'" + left + "'");
            $('.toast-position-string-obj .toast-position-right').text((right !== 'auto') ? right : "'" + right + "'");
            $('.toast-position-string-obj .toast-position-top').text((top !== 'auto') ? top : "'" + top + "'");
            $('.toast-position-string-obj .toast-position-bottom').text((bottom !== 'auto') ? bottom : "'" + bottom + "'");
          } else {
            $('.toast-position-string-obj').hide();
            // $('.toast-position-string-obj toast-position').text('');
          }
          if (!toastIcon) {
            if (toastBg) {
              $('.toast-bgColor-line').show();
              $('.toast-bgColor-line .toast-bgColor').text(toastBg);
            } else {
              $('.toast-bgColor-line').hide();
              $('.toast-bgColor-line .toast-bgColor').text('');
            }
            if (toastTextColor) {
              $('.toast-textColor-line').show();
              $('.toast-textColor-line .toast-textColor').text(toastTextColor);
            } else {
              $('.toast-textColor-line').hide();
              $('.toast-textColor-line .toast-textColor').text('');
            }
          }
          if (textAlign) {
            $('.toast-textAlign-line').show();
            $('.toast-textAlign-line .toast-textAlign').text(textAlign);
          } else {
            $('.toast-textAlign-line').hide();
            $('.toast-textAlign-line .toast-textAlign').text('');
          }
          if (loader == 'false') {
            $('.toast-textLoader').html('false');
          } else {
            $('.toast-textLoader').html('true');
          }
          if (loaderBg) {
            $('.toast-textLoaderBg').html(loaderBg);
          }
          if (toastEvents == 'false') {
            $('.toast-beforeShow-line').hide();
            $('.toast-afterShown-line').hide();
            $('.toast-beforeHide-line').hide();
            $('.toast-afterHidden-line').hide();
          } else {
            $('.toast-beforeShow-line').show();
            $('.toast-afterShown-line').show();
            $('.toast-beforeHide-line').show();
            $('.toast-afterHidden-line').show();
          }
        }
        $('#top-position').on('change', function () { $('#bottom-position').val('auto'); });
        $('#bottom-position').on('change', function () { $('#top-position').val('auto'); });
        $('#left-position').on('change', function () { $('#right-position').val('auto'); });
        $('#right-position').on('change', function () { $('#left-position').val('auto'); });
        $('.plugin-options :input').on('change', function () {
          $.toast().reset('all');
          generateCode();
        });
        $('.generate-toast').on('click', function (e) {
          e.preventDefault();
          generateToast();
        });
        function generateToast() {
          var options = {};
          if ($('.toast-text-line').is(':visible')) {
            options.text = $('.toast-text-line .toast-text').text();
          }
          if ($('.toast-heading-line').is(':visible')) {
            options.heading = $('.toast-heading').text();
          };
          if ($('.toast-transition-line').is(':visible')) {
            options.showHideTransition = $('.toast-transition-line .toast-transition').text();
          };
          if ($('.toast-allowToastClose-line').is(':visible')) {
            options.allowToastClose = ($('.toast-allowToastClose-line .toast-allowToastClose').text() === 'true') ? true : false;
          };
          if ($('.toast-hideAfter-line').is(':visible')) {
            options.hideAfter = parseInt($('.toast-hideAfter-line .toast-hideAfter').text(), 10) || false;
          };
          if ($('.toast-stackLength-line').is(':visible')) {
            options.stack = parseInt($('.toast-stackLength-line .toast-stackLength').text(), 10) || false;
          };
          if ($('.toast-position-string-line').is(':visible')) {
            options.position = $('.toast-position-string-line .toast-position').text();
          };
          if ($('.toast-position-string-obj').is(':visible')) {
            options.position = {};
            options.position.left = parseFloat($('.toast-position .toast-position-left').text()) || 'auto';
            options.position.right = parseFloat($('.toast-position .toast-position-right').text()) || 'auto';
            options.position.top = parseFloat($('.toast-position .toast-position-top').text()) || 'auto';
            options.position.bottom = parseFloat($('.toast-position .toast-position-bottom').text()) || 'auto';
          };
          if ($('.toast-icon-line').is(':visible')) {
            options.icon = $('.toast-icon-line .toast-icon').text();
          };
          if ($('.toast-bgColor-line').is(':visible')) {
            options.bgColor = $('#toast-bg').val();
          };
          if ($('.toast-text-color').is(':visible')) {
            options.textColor = $('#toast-text-color').val();
          };
          if ($("#text-align").is(':visible')) {
            options.textAlign = $('#text-align').val();
          };
          options.loader = $('.toast-textLoader').html() === 'false' ? false : true;
          options.loaderBg = $('.toast-textLoaderBg').html();
          $.toast(options);
        }
        generateCode();
      });
    });
  </script>
</body>
</html>