<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {{!-- <link rel="stylesheet" href="/public/css/index.css" --}}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    body{
    background-color: white;
    margin:0 auto;
}
.nav-bar{
  background-color:#2E4053;
  height: 45px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 2);

}
.nav-heading{
  color: white;
  padding-top: 10px;
  margin-left: 10px;
}
.content-body{
  background-color: #E5E8E8;
  height: 400px;
  display: flex;
}
.part{
  background-color: teal;
  height:400px;
  width: 50%;

}
.part.one{
  width: 65%;
  text-align: center;
}
.part.two{
  background-color: #CACFD2;
  width: 35%;
}
.content-tab-pane{
  padding: 10px;
}
  </style>
</head>

<body>

<div class="nav-bar">
  <div class="nav-content">
    <div class="nav-heading">
      AMS APP
    </div>
  </div>
</div>

<div class="content-body">
  <div class="part one">
    <div class="part-content-pane">
      <h1>Image here</h1>
    </div>
  </div>
  <div class="part two">
    <div class="content-tab-pane">
      
    <form id="dialog" action="/auth">
      <select id="emp_nm" name="year" class="custom-select empCal">
        <option value="0">select emp</option>
        <option value="2019">2019</option>
        <option value="2020" selected>2020</option>
      </select>
      <select id="emp_nm" name="team" class="custom-select empCal">
        <option value="CB" selected>CB</option>
        <option value="NPD">NPD</option>
      </select>
      <input type="submit" value="Submit">
    </form>
    </div>
  </div>

</div>

<div class="footer">

</div>


</body>

</html>